/numGuess/build/
/shoppingPlanner/nbproject/private/
/shoppingPlanner/build/
/numGuess/nbproject/private/
/pizzaManager/nbproject/private/
/student manager/nbproject/private/
/student manager/build/
/Baraquiel-OOP-LABE27/nbproject/private/
/Baraquiel-OOP-LABE27/build/
/Baraquiel-OOP-LABE2/build/
/JavaApplication8/nbproject/private/
/BongalonOOPLABE2/nbproject/private/
/BongalonOOPLABE2/build/
